<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <message/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <stackTrace/>
                <throwableClassName/>
                <throwableMessage/>
                <mdc/>
                <!-- repeats key-value log arguments as root json fields -->
                <arguments/>
                <keyValuePairs/>
            </providers>
        </encoder>
    </appender>
    <!-- These two only log errors, and log them at TRACE -->
    <logger name="io.ktor.auth.oauth" level="TRACE"/>
    <logger name="io.ktor.client.plugins.HttpTimeout" level="TRACE"/>
    <!-- Timeouts and socket errors are logged at debug -->
    <logger name="Application" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
