<!DOCTYPE html>
<html class="govuk-template " lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="email-head (title)">
    <meta charset="utf-8"/>
    <title th:text="${title}"></title>
    <style>
        p {
            font-family: calibri, serif;
            font-size: 12pt;
        }

        p#disclaimer {
            font-size: 10pt;
        }
    </style>
</head>

<body class="govuk-template__body govuk-body">

<div th:fragment="disclaimer">
    <img alt="MHCLG Logo" height="70" src="https://delta.communities.gov.uk/public/images/MHCLG-logo.png" width="234"/>
    <p id="disclaimer">
        This email and any files transmitted with it are private and intended solely for the use of the individual or
        entity to which they are addressed. If you are not the intended recipient the E-mail and any files have been
        transmitted to you in error and any copying, distribution or other use of the information contained in them is
        strictly prohibited. Nothing in this E-mail message amounts to a contractual or other legal commitment on the
        part of the Government unless confirmed by a communication signed on behalf of the Secretary of State. The
        Department's computer systems may be monitored and communications carried on them recorded, to secure the
        effective operation of the system and for other lawful purposes. Correspondents should note that all
        communications from the Ministry of Housing, Communities and Local Government may be automatically logged, monitored
        and/or recorded for lawful purposes.
    </p>
</div>

</body>
</html>
