<!DOCTYPE html>
<html class="govuk-template" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="preventSearchEngineIndexing" type="java.lang.Boolean" */-->
<!--/*@thymesVar id="showEnvironmentWarning" type="java.lang.Boolean" */-->
<head th:fragment="head (title)">
    <meta charset="utf-8">
    <title th:text="${title}">Delta</title>
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
    <meta content="#0b0c0c" name="theme-color">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta th:if="${preventSearchEngineIndexing}" name="robots" content="noindex">
    <link href="/static/assets/images/mhclg-icon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/static/assets/images/mhclg-icon-192x192.png" rel="apple-touch-icon" sizes="192x192">
    <link href="/static/govuk-frontend-6.4.0.min.css" rel="stylesheet">
    <link href="/static/delta-auth.css" rel="stylesheet">
</head>

<body class="govuk-template__body govuk-body">
<a class="govuk-skip-link" data-module="govuk-skip-link" href="#main-content">Skip to main content</a>

<header class="govuk-generic-header delta-mhclg-header" role="banner" th:fragment="header">
    <div class="govuk-generic-header__container govuk-width-container delta-mhclg-header__container">
        <div class="govuk-generic-header__logo delta-mhclg-header__logo">
            <a class="govuk-generic-header__homepage-link delta-mhclg-header__homepage-link"
               th:href="${deltaUrl} + '/'">
                <span class="delta-mhclg-header__crest" aria-hidden="true">
                    <img alt="" height="32" src="/static/assets/images/mhclg-crest.svg" width="36">
                </span>
                <span class="delta-mhclg-header__product-name">MHCLG Delta</span>
            </a>
        </div>
    </div>
</header>

<div th:fragment="environment-warning-message">
    <div th:if="${showEnvironmentWarning}">
        <div class="govuk-width-container govuk-!-margin-top-2">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        This is a staging site, used for internal testing.<br>Do not enter data.
                    </p>
                    <p class="govuk-body">
                        To enter data, go to the <a class="govuk-notification-banner__link"
                                                    href="https://delta.communities.gov.uk/">main Delta site</a>.
                    </p>
                    <p class="govuk-body">
                        The staging environment may be unavailable at short notice for maintenance or upgrades. Use the
                        testing centre where possible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <h1 class="govuk-heading-xl">This is a template</h1>
    </main>
</div>

<footer class="govuk-footer" role="contentinfo" th:fragment="footer (deltaUrl)">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" th:href="${deltaUrl} + '/about-delta'">About Delta</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" th:href="${deltaUrl} + '/help-and-guidance'">Help and guidance</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" th:href="${deltaUrl} + '/contact-us'">Contact us</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" th:href="${deltaUrl} + '/privacy-policy'">Privacy policy</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" th:href="${deltaUrl} + '/cookie-policy'">Cookie policy</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" th:href="${deltaUrl} + '/terms-and-conditions'">Terms and conditions</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" th:href="${deltaUrl} + '/accessibility-statement'">Accessibility statement</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" th:href="${deltaUrl} + '/changelog'">Changelog</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link govuk-footer__copyright-logo"
                   href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
                    © Crown copyright
                </a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
