<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>DLUHC DELTA: No User Account</title>
    <style>
        p {
            font-family: calibri, serif;
            font-size: 12pt;
        }

        p#disclaimer {
            font-size: 10pt;
        }
    </style>
</head>

<!--/*@thymesVar id="deltaUrl" type="java.lang.String" */-->
<!--/*@thymesVar id="authServiceUrl" type="java.lang.String" */-->

<body>
<p> You are receiving this email because you tried to send a reset password link to this email address for
    <a th:href="${deltaUrl}">DELTA</a>,
    the online data collection system of the Department for Levelling Up, Housing and Communities (DLUHC).
</p>

<p>There is no account linked to this email address.</p>

<p>If this was you please check this is the email address linked to your account or click the link below to create an
    account.</p>
<p>
    <a th:href="@{${authServiceUrl}+'/delta/register'}">Create an account</a>
</p>
<p>If this wasn't you no action is required.</p>
<p>
    If you have any questions or need help please email the DLUHC Service Desk on <a
        href="mailto:dluhc.digital-services@levellingup.gov.uk">dluhc.digital-services@levellingup.gov.uk</a> or call
    0203 829 0743.
</p>
<p>
    Regards
</p>
<p>
    <strong>DLUHC DELTA Administrator</strong>
</p>
<img src="https://delta.communities.gov.uk/public/images/DLUHC-logo.png" width="234" height="70" alt="DLUHC Logo"/>
<p id="disclaimer">
    This email and any files transmitted with it are private and intended solely for the use of the individual or entity
    to which they are addressed. If you are not the intended recipient the E-mail and any files have been transmitted to
    you in error and any copying, distribution or other use of the information contained in them is strictly prohibited.
    Nothing in this E-mail message amounts to a contractual or other legal commitment on the part of the Government
    unless confirmed by a communication signed on behalf of the Secretary of State. The Department's computer systems
    may be monitored and communications carried on them recorded, to secure the effective operation of the system and
    for other lawful purposes. Correspondents should note that all communications from Department for Levelling Up,
    Housing and Communities may be automatically logged, monitored and/or recorded for lawful purposes.
</p>
</body>
</html>
