<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/template.html :: email-head (title='MHCLG Delta: No User Account')}">
    <title>MHCLG Delta: No User Account</title>
</head>

<!--/*@thymesVar id="deltaUrl" type="java.lang.String" */-->
<!--/*@thymesVar id="authServiceUrl" type="java.lang.String" */-->

<body>
<p class="govuk-body"> You are receiving this email because you tried to send a reset password link to this email address for
    <a class="govuk-link" th:href="${deltaUrl}">Delta</a>,
    the online data collection system of the Ministry of Housing, Communities and Local Government (MHCLG).
</p>

<p class="govuk-body">There is no account linked to this email address.</p>

<p class="govuk-body">If this was you please check this is the email address linked to your account or click the link below to create an
    account.</p>
<p class="govuk-body">
    <a class="govuk-link" th:href="@{${authServiceUrl}+'/delta/register'}">Create an account</a>.
</p>
<p class="govuk-body">If this wasn't you, no action is required.</p>
<p class="govuk-body">
    If you have any questions or need help, please email the MHCLG Service Desk on <a class="govuk-link"
        href="mailto:mhclg.digital-services@communities.gov.uk">mhclg.digital-services@communities.gov.uk</a> or call
    0203 829 0743.
</p>
<p class="govuk-body">
    Regards
</p>
<p class="govuk-body">
    <strong>MHCLG Delta Administrator</strong>
</p>
<div th:replace="~{fragments/template.html :: disclaimer}"></div>
</body>
</html>
