<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="deltaUrl" type="java.lang.String" */-->
<!--/*@thymesVar id="userFullName" type="java.lang.String" */-->
<!--/*@thymesVar id="userEmailAddress" type="java.lang.String" */-->
<!--/*@thymesVar id="accessGroupName" type="java.lang.String" */-->
<!--/*@thymesVar id="actingUserEmail" type="java.lang.String" */-->

<head
    th:replace="~{fragments/template.html :: email-head (title='Delta: DLUHC user has been added to collection group \'' + ${accessGroupName} + '\'')}">
    <title>Delta: DLUHC user has been added to collection group 'Some Access Group (some-access-group)'</title>
</head>
<body>

<p>
    This is to notify you that <span th:text="${userFullName}">#userFullName#</span>
    (<span th:text="${userEmailAddress}">user@example.com</span>)
    has
    <span
        th:text="${actingUserEmail == userEmailAddress}
        ? 'added themselves to the ' + ${accessGroupName} + ' collection group'
        : 'been added to the ' + ${accessGroupName} + ' collection group by ' + ${actingUserEmail}"></span>.
</p>

<p>
    This email is being sent to all delegated administrators and lead testers for <span th:text="${accessGroupName}">#accessGroupName#</span>.
</p>

<p>
    If you have any questions or need help please email the DLUHC Service Desk on <a
    href="mailto:dluhc.digital-services@levellingup.gov.uk">dluhc.digital-services@levellingup.gov.uk</a>
    or call 0203 829 0743.
</p>
<p>
    Delta can be accessed at <a th:href="${deltaUrl}" th:text="${deltaUrl}">https://delta</a>.
</p>
<p>
    Regards,
</p>
<p>
    <strong>Delta System</strong>
</p>
<div th:replace="~{fragments/template.html :: disclaimer}"></div>
</body>
</html>
