<!DOCTYPE html>
<html class="govuk-template " lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/template.html :: head (title='DELTA | Set Password')}">
    <title>DELTA | Set Password</title>
</head>

<body class="govuk-template__body govuk-body">
<a class="govuk-skip-link" data-module="govuk-skip-link" href="#main-content">Skip to main content</a>
<header th:replace="~{fragments/template.html :: header}"></header>

<!--/*@thymesVar id="deltaUrl" type="java.lang.String" */-->
<!--/*@thymesVar id="userEmail" type="java.lang.String" */-->
<!--/*@thymesVar id="userCN" type="java.lang.String" */-->
<!--/*@thymesVar id="token" type="java.lang.String" */-->

<div class="govuk-width-container" id="setPasswordExpiredTokenPage">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <h1 class="govuk-heading-xl">Registration pending</h1>
        <h1> Your activation link had expired. </h1>
        <p>Click the button below to send a new link to
            <a th:href="'mailto:' + ${userEmail}" th:text="${userEmail}">your email address</a>. <br/>Please note the
            link in this email will only be valid for 24 hours.</p>
        <form class="item-form form" id="set_password_token_expired_form" method="post"
              th:action="@{set-password/expired}">
            <div class="govuk-button-group">
                <label><input hidden name="userCN" th:value="${userCN}"/></label>
                <label><input hidden name="token" th:value="${token}"/></label>
                <input class="govuk-button" data-module="govuk-button" data-prevent-double-click="true"
                       formnovalidate type="submit" value="Request new activation email"/>
            </div>
        </form>
    </main>
</div>
<footer th:replace="~{fragments/template.html :: footer (deltaUrl=${deltaUrl})}"></footer>
</body>
</html>