<!DOCTYPE html>
<html class="govuk-template " lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/template.html :: head (title='Delta | Forgot Password')}">
    <title>Delta | Forgot Password</title>
</head>

<body class="govuk-template__body govuk-body">
<a class="govuk-skip-link" data-module="govuk-skip-link" href="#main-content">Skip to main content</a>
<header th:replace="~{fragments/template.html :: header}"></header>
<div th:replace="~{fragments/template.html :: environment-warning-message}"></div>

<!--/*@thymesVar id="deltaUrl" type="java.lang.String" */-->
<!--/*@thymesVar id="message" type="java.lang.String" */-->
<!--/*@thymesVar id="emailAddress" type="java.lang.String" */-->

<div class="govuk-width-container" id="forgotPasswordPage">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" data-th-href="${deltaUrl}">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Forgot Password</li>
    </ol>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <h1 class="govuk-heading-xl">Forgot Password</h1>
        <div class="govuk-error-summary" data-module="govuk-error-summary" id="error"
             th:if="${message != null}">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a class="govuk-link" href="#emailAddress" th:text="${message}">Error message</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">Enter the email address you used to create your account.</p>
                <p class="govuk-body">We’ll email you a link to reset your password.</p>
                <form class="form" id="forgot_password_form" method="post" th:action="@{#}">
                    <div class="govuk-form-group"
                         data-th-classappend="${message != null} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="emailAddress">Email</label>
                        <div id="emailAddressError">
                            <span class="govuk-visually-hidden">Error:</span>
                            <p class="govuk-error-message" th:text="${message}"></p>
                        </div>
                        <input aria-required="true" class="govuk-input govuk-!-width-full"
                               data-th-classappend="${message != null} ? 'govuk-input--error'"
                               id="emailAddress" name="emailAddress" required th:value="${emailAddress}">
                    </div>
                    <br>
                    <input class="govuk-button" formnovalidate type="submit" value="Reset password">
                </form>

            </div>
        </div>
    </main>
</div>
<footer th:replace="~{fragments/template.html :: footer (deltaUrl=${deltaUrl})}"></footer>
</body>
</html>
