<!DOCTYPE html>
<html class="govuk-template " lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/template.html :: head (title='Delta | Password')}">
    <title>Delta | Password</title>
</head>

<body class="govuk-template__body govuk-body">
<a class="govuk-skip-link" data-module="govuk-skip-link" href="#main-content">Skip to main content</a>
<header th:replace="~{fragments/template.html :: header}"></header>
<div th:replace="~{fragments/template.html :: environment-warning-message}"></div>

<!--/*@thymesVar id="deltaUrl" type="java.lang.String" */-->
<!--/*@thymesVar id="message" type="java.lang.String" */-->
<!--/*@thymesVar id="newPassword" type="java.lang.String" */-->
<!--/*@thymesVar id="confirmPassword" type="java.lang.String" */-->

<div class="govuk-width-container" id="passwordFormPage">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <h1 class="govuk-heading-xl">Set password</h1>
        <div class="govuk-grid-row">
            <div class="govuk-error-summary" id="error" th:if="${message != null}">
                <h2 class="govuk-error-summary__title">There is a problem</h2>
                <div aria-labelledby="error-summary-heading-example-1" class="govuk-error-summary__body"
                     role="group" tabindex="-1">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <div th:if="${ #strings.contains(message, 'Confirm password')}">
                                <a class="govuk-link" href="#confirmPassword" th:text="${message}"></a>
                            </div>
                        </li>
                        <li>
                            <div th:unless="${ #strings.contains(message, 'Confirm password')}">
                                <a class="govuk-link" href="#newPassword" th:text="${message}"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="govuk-body">Enter your password below. It must:<br/>
                - be at least 12 characters<br/>
                - not contain % &lt; or &gt;</p>
            <form autocomplete="off" id="set_password_form" method="post" th:action="@{#}">
                <div class="govuk-form-group"
                     th:classappend="${message != null and !#strings.contains(message, 'Confirm password')} ? 'govuk-form-group--error' : ''">
                    <label class="govuk-label" for="newPassword">New password</label>
                    <div id="newPasswordError">
                        <span class="govuk-visually-hidden">Error:</span>
                        <p class="govuk-error-message"
                           th:if="${message != null and !#strings.contains(message, 'Confirm password')}"
                           th:text="${message}"></p>
                    </div>
                    <input autocomplete="new-password" class="govuk-input govuk-!-width-two-thirds" id="newPassword"
                           name="newPassword" pattern="^[^%<>]*$"
                           th:classappend="${message != null and !#strings.contains(message, 'Confirm password')} ? 'govuk-input--error'"
                           th:field="*{newPassword}" title="Password can not contain %, < or > symbols" type="password">
                </div>
                <br>
                <div class="govuk-form-group"
                     th:classappend="${message != null and #strings.contains(message, 'Confirm password')} ? 'govuk-form-group--error' : ''">
                    <label class="govuk-label" for="confirmPassword">Confirm password</label>
                    <div id="confirmPasswordError">
                        <span class="govuk-visually-hidden">Error:</span>
                        <p class="govuk-error-message"
                           th:if="${message != null and #strings.contains(message, 'Confirm password')}"
                           th:text="${message}"></p>
                    </div>
                    <input autocomplete="new-password" class="govuk-input govuk-!-width-two-thirds" id="confirmPassword"
                           name="confirmPassword"
                           th:classappend="${message != null and #strings.contains(message, 'Confirm password')} ? 'govuk-input--error'"
                           th:field="*{confirmPassword}" type="password">
                </div>
                <br> <input class="govuk-button" type="submit" value="Set password">
            </form>

        </div>
    </main>
</div>
<footer th:replace="~{fragments/template.html :: footer (deltaUrl=${deltaUrl})}"></footer>
</body>
</html>
