<!DOCTYPE html>
<html class="govuk-template " lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/template.html :: head (title='Reset Password | Delta')}">
    <title>Reset password | Delta</title>
</head>

<body class="govuk-template__body govuk-body">
<a class="govuk-skip-link" data-module="govuk-skip-link" href="#main-content">Skip to main content</a>
<header th:replace="~{fragments/template.html :: header}"></header>
<div th:replace="~{fragments/template.html :: environment-warning-message}"></div>

<!--/*@thymesVar id="deltaUrl" type="java.lang.String" */-->

<div class="govuk-width-container" id="resetPasswordSuccessPage">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <h1 class="govuk-heading-xl">Reset password completed</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel">
                    <h1>
                        Your password has been reset
                    </h1>
                    <a class="govuk-button" data-module="govuk-button" draggable="false" role="button"
                       th:href="${deltaUrl} + '/login'">
                        Sign in to Delta
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>
<footer th:replace="~{fragments/template.html :: footer (deltaUrl=${deltaUrl})}"></footer>
</body>
</html>
