name: "Test auth service"

on:
  push:
    branches:
      - main
    paths:
      - "auth-service/**"
      - ".github/workflows/publish.yml"
  pull_request:
    paths:
      - "auth-service/**"
      - ".github/workflows/publish.yml"

jobs:
  docker_push:
    name: Run auth service tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: 'gradle'
      - run: docker compose up -d
      - name: Run tests
        run: chmod +x gradlew && ./gradlew test
        working-directory: auth-service/
